<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>EMP_DEPT_MGR</h1>
        <table border="2px">
            <tr>
                <th>ename</th>
                <th>job</th>
                <th>hiredate</th>
                <th>sal</th>
                <th>comm</th>
                <th>mgr</th>
                <th>deptno</th>
                <th>dname</th>
                <th>dloc</th>
                <th>mgrename</th>
                <th>mgrjob</th>
                <th>mgrhiredate</th>
                <th>mgrsal</th>
                <th>mgrcomm</th>
            </tr>
        {% for eo in emo %}
        <tr>
            <td>{{eo.ename}}</td>
            <td>{{eo.job}}</td>
            <td>{{eo..hiredate}}</td>
            <td>{{eo.sal}}</td>
            <td>{{eo.mgr}}</td>
            <td>{{eo.comm}}</td>
            <td>{{eo.deptno}}</td>
            <td>{{eo.deptno.deptno}}</td>
            <td>{{eo.deptno.dname}}</td>
            <td>{{eo.deptno.dloc}}</td>
            <td>{{eo.mgr.ename}}</td>
            <td>{{eo.mgr.job}}</td>
            <td>{{eo.mgr.hiredate}}</td>
            <td>{{eo.mgr.sal}}</td>
            <td>{{eo.mgr.comm}}</td>
        </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>