<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>EQUIJOIN</h1>
        <table border="2px" >
            <tr>
                <th>empno</th>
                <th>ename</th>
                <th>job</th>
                <th>mgr</th>
                <th>hiredate</th>
                <th>sal</th>
                <th>comm</th>
                <th>deptno</th>
                <th>dname</th>
                <th>dloc</th>
            </tr>
            {% for eq in equijoin %}
            <tr>
                <td>{{eq.empno}}</td>
                <td>{{eq.ename}}</td>
                <td>{{eq.job}}</td>
                <td>{{eq.mgr.empno}}</td>
                <td>{{eq.hiredate}}</td>
                <td>{{eq.sal}}</td>
                <td>{{eq.comm}}</td>
                <td>{{eq.deptno.deptno}}</td>
                <td>{{eq.deptno.dname}}</td>
                <td>{{eq.deptno.dloc}}</td>
                
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>